table.docutils td, table.docutils th {
    padding:.5em;
}

table.docutils th {
    vertical-align:middle;
}

.toggle .header {
    display: block;
    clear: both;
    padding-bottom: 1em;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

.MathJax .mo { color: inherit }
.MathJax .mi { color: inherit }

.sidebar-toc .caption-text {
    font-variant: small-caps;
    font-weight: bold;
    margin-left: 1em;
}

.sidebar-block h2 {
    margin-left: -.5em;
}
