table.docutils td, table.docutils th {
    padding:.5em;
}

table.docutils th {
    vertical-align:middle;
}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

.MathJax .mo { color: inherit }
.MathJax .mi { color: inherit }
